<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tutorials</title>
</head>

<body>
<h1>Tutorials - list</h1>
<table>
    <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Published</td>
    </tr>
    <tr th:each = "tutorial : ${tutorials}">
        <td th:text = "${tutorial.title}"></td>
        <td th:text = "${tutorial.description}"></td>
        <td th:text="${tutorial.published} ? 'yes' : 'no'"></td>
    </tr>
</table>




</body>

</html>