<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>SWC3 Project</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $(function(){
                $("#nav-placeholder").load("/navbar");
            });
        </script>
    </head>
    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>

        <script>console.log("index.html page");</script>

        <div class="container">
            <div class="row">
                <div class="col"><img src="../../static/SSR2.png" alt="SSR"></div>
                <div class="w-100"></div>
                <div class="col"><img src="../../static/templateEngine.png" alt="Template Engine"></div>
            </div>
        </div>
    </body>
</html>